body {
    background-image: linear-gradient(to bottom right, #8E2DE2, #4A00E0 );
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1,h3 {
    color: #DAF5FF;
}

.container-fluid {
    padding: 10% 15% 1%;
}

.app-heading {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.data {
    padding: 10% 5% 1%;
    text-align: left;
}

#RefreshMe {
    text-align: center;
    margin: 5%;
}


/* Footer */

#footer {
    padding: 3% 20% 0;
}

.footer-icon {
    padding: 1.2rem 1.5rem 1.5rem;
    transform: scale(1.8);
}

